@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@plugin '../../../src/renderer/HeroUiConfig.ts';

@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../renderer/**/*.{js,ts,jsx,tsx}';
@source '../../../src/renderer/src/App/Components/Reusable/SpotlightCard.tsx';
@source '../../../src/renderer/src/App/Components/Reusable/ToolsCard.tsx';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-JetBrainsMono: JetBrainsMono, sans-serif;
  --font-Nunito: Nunito, sans-serif;

  --color-LynxOrange: #ff5f00;
  --color-LynxRaisinBlack: #212121;

  --color-LynxWhiteSecond: #f6f6f6;
  --color-LynxWhiteThird: #ececec;
  --color-LynxWhiteFourth: #e1e1e1;
  --color-LynxWhiteFifth: #d0d0d0;

  --color-DarkGray: #424242;
}
